*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# User-specific configurations
.idea/shelf
.idea/vcs.xml
.idea/tasks.xml
.idea/dictionaries
.idea/gradle.xml
.idea/jarRepositories.xml

# Keystore files
*.jks
*.keystore

# External native build folder
.cxx/
*.swp
*~

# Android Studio 3.0+
/captures/
*.iws
*.ipr

# Build folders
/*/build/
/*/*/build/